/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

html, body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  scrollbar-color: black #e0e0e0;
}
 
/*
 * afegir la class tabs-content a cada div de contingut
 * per solucionar el contingut scollable de cada pestanya
 */
.tabs-content {
  height: 100%;
  overflow-y: scroll !important;
}